.body_carousel_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body_container {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.body_container img {
  width: 400px;
  height: 400px;
}

@media only screen and (min-width: 600px) {
  .body_container img {
    width: 18%;
  }
}
