.button_container {
  width: 97px;
  height: 120px;
  border: 1px solid #a6a6a6;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: all 1s;
}

.button_container img {
  height: min-content;
  width: min-content;
  margin-bottom: 2px;
}

.button_expanded {
  width: 98%;
  height: 320%;
  position: absolute;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
}

.button_expanded img {
    margin-top: 50px;
}
