.button_container {
  width: 100px;
  height: 140px;
  border: 1px solid #a6a6a6;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: all 1s;
}

.button_container img {
  height: min-content;
  width: min-content;
  margin-bottom: 2px;
}

.button_expanded {
  width: 96.5vw;
  height: 87vh;
  position: fixed;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
  overflow: visible;
  top: 1em;
  left: 0.5em;
}

.button_text {
  visibility: hidden;
}

.button_expanded img {
    margin-top: 50px;
}
