.previous_container img{
    position: absolute;
    top: -2em;
    left: 1em;
}

.info_content_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.info_display_medium{
    background-color: #515151;
    width: 80vw;
    height: 2em;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 18px;
}

.info_display_medium span{
    color: white;
    font-size: 16px;
    padding-left: 0.8em;
}

.info_display_large{
    background-color: #515151;
    width: 80vw;
    height: 8em;
    display: flex;
    border: 1px solid black;
    border-radius: 18px;
}

.info_display_large span{
    margin-top: 0.5em;
    color: white;
    font-size: 16px;
    padding-left: 0.8em;
}

.info_display_small_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info_display_small{
    background-color: #515151;
    border: 1px solid black;
    border-radius: 13px;
    width: 22vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5vh;
}

.info_display_small span{
    color: white;
    font-size: 16px;
}

.info_display_number_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}

.info_number{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.info_number_number{
    background-color: #515151;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 13px;
}

.info_number_number span{
    color: white;
}