.image_container{
    justify-content: center;
    display: inline-grid;
    align-content: center;
    height: 49px;
    width: 84px;
}

.image_container img{
    justify-self: center;
    align-self: center;
    height: 28px;
    width: 28px;
}

.image_container span{
    font-size: 14;
    color: white;
    text-align: left;
}